
<div align="center">
  <a >
    <img src="images/impleo_logo.png" alt="Logo" >
  </a>
</div>

# StServer

**STANAG On Demand Server** delivers On-Demand / Live FMV and geo-spatial metadata to video analysts and field operators in order to help them easily access, analyze, and present mission information.
More [info](https://impleotv.com/products/stanagondemand-server/).

## System Requirements

OS: Linux.

## Installation (using Docker Compose)

**STANAG On Demand Server** is installed as a set of microservices. 

1. Make sure you have [Docker](https://docs.docker.com/) and [Docker Compose](https://docs.docker.com/compose/install/) on your machine ( or download and install them, then reboot (important!!!).
2. Download **stserver-install.tar.gz** file that contains **docker-compose.yml** and accompanying configuration files and save them to a local folder (for example, ~/stserver/).
```
wget https://impleotv.com/content/stserver2/setup/stserver-install.tar.gz
```
3. Extract files:
```
tar -xvf stserver-install.tar.gz
```


## Download link

|          | Version             | Download link                                                           | 
|:---------|:-------------------:|:------------------------------------------------------------------------|
| **StPlayer** |  {{version}} | [SetupStPlayer.zip](https://github.com/impleotv/stplayer-release/releases/latest/download/SetupStPlayer.zip) | 


*Released on {{date}}*

## License

**StPlayer** is a node locked software. In order to get the license, please install it and fill an [online form](https://docs.google.com/forms/d/e/1FAIpQLSd_XW6bDsFce1G1cpds4gMQNlwNax0CvkWzcMbscxZ5rLaIbA/viewform), providing the ***Node Info*** string (IMPORTANT!!!) for the target machine.  
***Node Info*** string can be found at ***Options->License***, as shown below.

![NodeInfo string](images/license.jpg)

Please copy-paste *Node Info*, don't send an image...

You'll get back a **license** file and a **key**.
Select the license file in the *Options/License* page and apply the provided key.
